<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<img src="https://res.cloudinary.com/druc0epi3/image/upload/v1666365621/nsoygczw9tcoxoixxxry.jpg" alt="">

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
